//- DATA LISTA ARTICOLE
//-____________________________________________________

- 
	var listaArticole =

	[
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-0.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-0.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-0.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-0.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-0.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-1.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-1.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-1.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-1.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-1.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-2.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-2.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-2.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-2.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-2.jpg',
			imageFitType:						'',
			categoryType:						'is-video',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-3.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-3.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-3.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-3.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-3.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-4.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-4.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-4.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-4.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-4.jpg',
			imageFitType:						'',
			categoryType:						'is-gallery',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-5.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-5.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-5.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-5.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-5.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-6.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-6.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-6.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-6.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-6.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-7.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-7.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-7.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-7.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-7.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-8.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-8.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-8.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-8.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-8.jpg',
			imageFitType:						'',
			categoryType:						'is-gallery',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-9.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-9.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-9.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-9.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-9.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-10.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-10.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-10.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-10.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-10.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-11.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-11.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-11.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-11.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-11.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-12.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-12.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-12.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-12.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-12.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-13.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-13.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-13.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-13.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-13.jpg',
			imageFitType:						'',
			categoryType:						'is-video',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-14.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-14.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-14.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-14.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-14.jpg',
			imageFitType:						'',
			categoryType:						'',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-15.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-15.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-15.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-15.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-15.jpg',
			imageFitType:						'',
			categoryType:						'is-video',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		},
		{
			title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
			previewText:						'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
			link:										'#',
			image:									'images/_build/article/normal/asset-16.jpg',
			imageFeaturedArticle:	  'images/_build/article/featured-article/asset-16.jpg',
			imageBigArticle:  			'images/_build/article/big-article/asset-16.jpg',
			imageSmallArticle:	  	'images/_build/article/small-article/asset-16.jpg',
			imageMiniArticle:			  'images/_build/article/mini-article/asset-16.jpg',
			imageFitType:						'',
			categoryType:						'is-gallery',		
			tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		}
	]







- 
	var articleDetail =

	{
		date:										'02/21/2019 05:45 am',
		title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
		previewText:						'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
		link:										'#',
		image:									'images/_build/article/normal/asset-0.jpg',
		imageDetailArticle:			'images/_build/article/detail/asset-0.jpg',
		imageFeaturedArticle:	  'images/_build/article/featured-article/asset-0.jpg',
		imageBigArticle:  			'images/_build/article/big-article/asset-0.jpg',
		imageSmallArticle:	  	'images/_build/article/small-article/asset-0.jpg',
		imageMiniArticle:			  'images/_build/article/mini-article/asset-0.jpg',
		imageCaption: 					'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. Foto de Lorem Ipsum',
		imageFitType:						'',
		categoryType:						'',
		categoryTypeLink:				'',	
		tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		author:         				{
															personPhoto: 				'images/redactia-hs.svg',
															personName: 				'Hot Sport',
															personDescription: 	'Redacția',
															personLink: 				'#'
														},
		content: 								'content-article',
		comments: 							[
															{
																authorName: 'George Ionescu',
																commentDate: 'acum 1 oră',
																authorPhoto:'images/_build/faces/face-02.jpg'
															},
															{
																authorName: 'Vasile Popescu',
																commentDate: 'acum 1 oră',
																authorPhoto:'images/_build/faces/face-03.jpg'
															},
															{
																authorName: 'Maria Dumitru',
																replyTo: 'Vasile Popescu',
																commentDate: 'acum 1 oră',
																authorPhoto:'images/_build/faces/face-04.jpg'
															}
														],
		shares: 								'201'
	}



- 
	var articleDetailVideo =

	{
		date:										'02/21/2019 05:45 am',
		title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
		previewText:						'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
		link:										'#',
		image:									'https://img.youtube.com/vi/Gw1droCMA54/hqdefault.jpg',
		imageDetailArticle:			'https://img.youtube.com/vi/Gw1droCMA54/maxresdefault.jpg',
		imageFeaturedArticle:	  'https://img.youtube.com/vi/Gw1droCMA54/maxresdefault.jpg',
		imageBigArticle:  			'https://img.youtube.com/vi/Gw1droCMA54/hqdefault.jpg',
		imageSmallArticle:	  	'https://img.youtube.com/vi/Gw1droCMA54/mqdefault.jpg',
		imageMiniArticle:			  'https://img.youtube.com/vi/Gw1droCMA54/mqdefault.jpg',
		imageCaption: 					'',
		imageFitType:						'',
		categoryType:						'is-video',
		categoryTypeLink:				'https://www.youtube-nocookie.com/embed/Gw1droCMA54',	
		tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		author:         				{
															personPhoto: 				'images/redactia-hs.svg',
															personName: 				'Hot Sport',
															personDescription: 	'Redacția',
															personLink: 				'#'
														},
		content: 								'content-article-video',
		comments: 							[],
		shares: 								'12'
	}



- 
	var articleDetailGallery =

	{
		date:										'02/21/2019 05:45 am',
		title:									'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
		previewText:						'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
		link:										'#',
		image:									'images/_build/article/normal/asset-0.jpg',
		imageDetailArticle:			'images/_build/article/detail/asset-0.jpg',
		imageFeaturedArticle:	  'images/_build/article/featured-article/asset-0.jpg',
		imageBigArticle:  			'images/_build/article/big-article/asset-0.jpg',
		imageSmallArticle:	  	'images/_build/article/small-article/asset-0.jpg',
		imageMiniArticle:			  'images/_build/article/mini-article/asset-0.jpg',
		imageCaption: 					'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. Foto de Lorem Ipsum',
		imageFitType:						'',
		categoryType:						'is-gallery',
		categoryTypeLink:				'',	
		tagsList:								[{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'}],
		author:         				{
															personPhoto: 				'images/redactia-hs.svg',
															personName: 				'Hot Sport',
															personDescription: 	'Redacția',
															personLink: 				'#'
														},
		content: 								'content-article-gallery',
		comments: 							[],
		shares: 								'15'
	}