//- DATA LISTA PERSOANE
//-____________________________________________________

- 
	var bigPersons = 

	[
		{
			personPhoto: 'images/_build/faces/face-01.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-02.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-03.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-04.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-05.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-06.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Editor senior',
			personLink: '#'
		}
	]


- 
	var persons = 

	[
		{
			personPhoto: 'images/_build/faces/face-0.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-1.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-2.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-3.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-4.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-5.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-6.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-7.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-8.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-9.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-10.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-11.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-12.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-13.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-14.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-15.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-16.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		},
		{
			personPhoto: 'images/_build/faces/face-17.jpg',
			personName: 'Marian Popescu',
			personDescription: 'Colaborator',
			personLink: '#'
		}
	]