//- ABONARE
//-=========================================================================
mixin carousel(array)

	//- verificator pt date constructor, poate avem o eroare în nume
	if(array === undefined || array.length == 0)
		p no data for build

	//- constructor cu limitator pt. nr de articole; compensăm numărătoarea de la 0 (vreau 2 articole, trec 2)
	else


		#carouselMultimedia.carousel.slide(data-ride='carousel', data-interval='0')
			.carousel-inner

				-var counter = 0

				each article in array

					if (counter >= attributes.nrElemente)
						-break

					if (article.categoryType == 'is-video' || article.categoryType == 'is-gallery')
						.carousel-item(class= (counter === 0 ? 'active' : undefined))

								+article(article)(imageTypeClass!=attributes.imageTypeClass, titleTypeClass!=attributes.titleTypeClass, listTypeClass!=attributes.listTypeClass, nrElemente!=attributes.nrElemente - 1, previewTextLength!=attributes.previewTextLength)

								-counter += 1


			.nav-carousel
				a.silde-nav(href='#carouselMultimedia', role='button', data-slide='prev')
					i.material-icons chevron_left
				span.numere
				a.silde-nav(href='#carouselMultimedia', role='button', data-slide='next')
					i.material-icons chevron_right