//- Cookies
//-=========================================================================
.info-cookies
	.container-fluid
		.row.align-items-md-center

			.col-lg-7.col-xl-6
				p Folosim cookiuri pentru a îmbunatăți utilizarea acestui site și pentru a-ți oferi conținut și reclame personalizate. Află mai multe informații în paginile #[a.link-white(href="#") date personale] și #[a.link-white(href="#") cookies].

			.col-lg-5.col-xl-6
				.butoane

					button.btn.btn-light.with-icon.ok-cookies(type='button')
						i.material-icons check
						| Sunt de acord

					button.btn.btn-link.link-white(type='button')
						strong Opțiuni cookies

					// buton close 
					button.btn.btn-link.link-white.no-cookies(type='button')
						i.material-icons close
