include ../navigation/_menu-list.pug

//- FOOTER
//-=========================================================================

footer
	
	.container-fluid.cont-bd-top

		+menuList(['Termeni și condiții', 'Date personale', 'Cookies'])(class='small')

		.copy.mg-t.pd-t.pd-b.text-sm-center &copy; 2020 HotSport.ro


|
|
// start JavaScript 
script(src='js/main.js')