//- search
//-=========================================================================
<svg xmlns="http://www.w3.org/2000/svg" width="15.363" height="15.363"><path data-name="Path 28" d="M0 7.682L7.682 0l7.682 7.682-1.393 1.348-5.346-5.348v11.68H6.739V3.682L1.348 9.03z"/></svg>