//- BUTTONS
//-=========================================================================

h1.cheatsheet Buttons
.row


	.col-xl-6
		p.cheatsheet Normal buttons
		// normal buttons 
		button.btn.btn-primary(type="button") Primary
		button.btn.btn-secondary(type="button") Secondary
		button.btn.btn-success(type="button") Success
		button.btn.btn-danger(type="button") Danger
		button.btn.btn-warning(type="button") Warning
		button.btn.btn-info(type="button") Info
		button.btn.btn-light(type="button") Light
		button.btn.btn-dark(type="button") Dark
		button.btn.btn-link(type="button") Link


	.col-xl-6
		p.cheatsheet Outline buttons
		// outline buttons 
		button.btn.btn-outline-primary(type="button") Primary
		button.btn.btn-outline-secondary(type="button") Secondary
		button.btn.btn-outline-success(type="button") Success
		button.btn.btn-outline-danger(type="button") Danger
		button.btn.btn-outline-warning(type="button") Warning
		button.btn.btn-outline-info(type="button") Info
		button.btn.btn-outline-light(type="button") Light
		button.btn.btn-outline-dark(type="button") Dark


	.col-xl-6
		p.cheatsheet Button sizes; clasa 'btn-mobil' face butonul mai mic doar pe mobil; se poate aplica pe oricare mărime
		// button sizes 		
		button.btn.btn-primary.btn-lg(type="button") Large button
		button.btn.btn-primary.btn-sm(type="button") Small button
		button.btn.btn-primary.btn-lg.btn-mobil(type="button") Buton mobil mic
		button.btn.btn-primary.btn-block(type="button") Block level button


	.col-xl-6
		p.cheatsheet Button tags
		// button tags
		a.btn.btn-primary(href="#", role="button") Link
		button.btn.btn-primary(type="submit") Button
		input.btn.btn-primary(type="button", value="Input")
		input.btn.btn-primary(type="submit", value="Submit")
		br
		a.btn.btn-outline-primary(href="#", role="button") Link
		button.btn.btn-outline-primary(type="submit") Button
		input.btn.btn-outline-primary(type="button", value="Input")
		input.btn.btn-outline-primary(type="submit", value="Submit")


	.col-xl-6
		p.cheatsheet Social login buttons

		button.social-login.facebook
			i.icon-facebook

		button.social-login.google
			i.icon-google

		button.social-login.twitter
			i.icon-twitter

		button.social-login.email
			i.material-icons email


	.col-xl-6
		p.cheatsheet Util buttons

		button.util-button.bordered
			i.icon-facebook

		button.util-button.bordered
			i.icon-twitter

		button.util-button.bordered
			i.material-icons chat

		button.util-button.bordered.disabled
			i.material-icons chat_bubble_outline

		button.util-button(disabled)
			i.icon-share


	.col-xl-6
		p.cheatsheet Follow buttons

		button.btn.btn-sm.btn-follow.facebook
			i.icon-facebook
			|  Facebook

		button.btn.btn-sm.btn-follow.twitter
			i.icon-twitter
			|  Twitter

	.col-xl-6
		p.cheatsheet Paginare

		include ../_elements/_pagination.pug

		+pagination([1, 2, 3])(activePage=1)