//- Icons
//-=========================================================================

h1.cheatsheet Icons
p.cheatsheet main icons

// main icons 
div Main icons can be find at 
	h4.d-inline
		a(href="https://material.io/icons/", target="_blank") Google Material Icons


p.cheatsheet extra icons (social)

.row

	// extra icons
	.col-xl-3
		p.icons-cheatsheet
			i.icon-twitter
			| 
			span icon-twitter - f099
	.col-xl-3
		p.icons-cheatsheet
			i.icon-facebook
			| 
			span icon-facebook - f09a
	.col-xl-3
		p.icons-cheatsheet
			i.icon-rss
			| 
			span icon-rss - f09e
	.col-xl-3
		p.icons-cheatsheet
			i.icon-linkedin
			| 
			span icon-linkedin - f0e1
	.col-xl-3
		p.icons-cheatsheet
			i.icon-youtube
			| 
			span icon-youtube - f167
	.col-xl-3
		p.icons-cheatsheet
			i.icon-tumblr
			| 
			span icon-tumblr - f173
	.col-xl-3
		p.icons-cheatsheet
			i.icon-skype
			| 
			span icon-skype - f17e
	.col-xl-3
		p.icons-cheatsheet
			i.icon-google
			| 
			span icon-google - f1a0
	.col-xl-3
		p.icons-cheatsheet
			i.icon-soundcloud
			| 
			span icon-soundcloud - f1be
	.col-xl-3
		p.icons-cheatsheet
			i.icon-share
			| 
			span icon-share - f1e0
	.col-xl-3
		p.icons-cheatsheet
			i.icon-pinterest
			| 
			span icon-pinterest - f231
	.col-xl-3
		p.icons-cheatsheet
			i.icon-whatsapp
			| 
			span icon-whatsapp - f232
	.col-xl-3
		p.icons-cheatsheet
			i.icon-vimeo
			| 
			span icon-vimeo - f27d