//- Navs
//-=========================================================================

h1.cheatsheet Navs
.row

	.col-xl-6
		p.cheatsheet nav normal

		// nav normal
		ul.nav
			li.nav-item
				a.nav-link.active(href="#") Active
			li.nav-item
				a.nav-link(href="#") Link
			li.nav-item
				a.nav-link(href="#") Link
			li.nav-item
				a.nav-link.disabled(href="#") Disabled


	.col-xl-6
		p.cheatsheet nav justify

		// nav justify
		ul.nav.nav-fill
			li.nav-item
				a.nav-link.active(href="#") Active
			li.nav-item
				a.nav-link(href="#") Link
			li.nav-item
				a.nav-link(href="#") Link
			li.nav-item
				a.nav-link.disabled(href="#") Disabled

// sticky element
p.cheatsheet.sticky Sticky element
