//- TYPOGRAPHY
//-=========================================================================

h1.cheatsheet Typography
.row


	.col-xl-6
		p.cheatsheet headings normal

		// h tag headings 
		h1 h1. Tag heading
		h2 h2. Tag heading
		h3 h3. Tag heading
		h4 h4. Tag heading
		h5 h5. Tag heading
		h6 h6. Tag heading


	.col-xl-6
		p.cheatsheet headings din paragraf with class (h*)

		// p tag headings 
		p.h1 p class h1. heading
		p.h2 p class h2. heading
		p.h3 p class h3. heading
		p.h4 p class h4. heading
		p.h5 p class h5. heading
		p.h6 p class h6. heading


	.col-xl-6
		p.cheatsheet display headings (tag with display-* class)

		// display headings 
		h1.display-1 Display 1
		h1.display-2 Display 2
		h1.display-3 Display 3
		h1.display-4 Display 4


	.col-xl-6
		p.cheatsheet paragraphs

		// paragraph types 
		p.lead This is a lead paragraph: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."

		p This is a normal paragraph: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."

		p You can use the mark tag to #[mark highlight] text.

		p
			del This line of text is meant to be treated as deleted text.

		p
			ins This line of text is meant to be treated as an addition to the document.

		p
			small This line of text is meant to be treated as fine print.


	.col-xl-6
		p.cheatsheet blockquote

		// blockquote 
		blockquote
			p Blockquote lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
			small Cineva faimos #[span cu funcția lui]
