//- MENU LINKS
//-=========================================================================

- 
	var buildMenu =
	
	[
		{
			categoryName: 'Acasă'
		},
		{
			categoryName: 'Noutăți'
		},		
		{
			categoryName: 'Subiecte',
			blockSubmenu: ''
		},
		{
			categoryName: 'Foto'
		},
		{
			categoryName: 'Video'
		},
		{
			categoryName: 'Category',
			subcategories: 
				[
					{
						subcategoryName: 'Some link here'
					},
					{
						subcategoryName: 'Another link here'
					},
					{
						subcategoryName: 'Third link here'
					},
					{
						subcategoryName: 'The last link'
					}
				]
		},
		{
			secondaryMenu: 
				[
					{
						secodaryName: 'Cine suntem'
					},
					{
						secodaryName: 'Contact'
					},
					{
						secodaryName: 'Login / Creează cont'
					}
				]
		}
	]




//- MENU TAGS
//-=========================================================================
- 
	var menuTags = 

	[
		{
			categoryName: 'Subiecte',
			blocSubmenu: 
				[
					{
						blocName: 'Lorem ipsum',
						tagsList: [{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'},{tagValue: 'goluri'},{tagValue: 'cluburi'},{tagValue: 'jucători'},{tagValue: 'premier league'},{tagValue: 'bundesliga'},{tagValue: 'primera division'}]
					},
					{
						blocName: 'Adipiscig elit',
						tagsList: [{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'},{tagValue: 'goluri'},{tagValue: 'cluburi'},{tagValue: 'jucători'},{tagValue: 'premier league'},{tagValue: 'bundesliga'},{tagValue: 'primera division'}]
					},
					{
						blocName: 'Consectetur',
						tagsList: [{tagValue: 'național'},{tagValue: 'goluri'},{tagValue: 'cluburi'},{tagValue: 'jucători'},{tagValue: 'premier league'}]
					}
				]
		}
	]



//- SUBIECTE CAUTARE
//-=========================================================================
-
	var subiecteCautare = [{tagValue: 'fotbal'},{tagValue: 'antrenori'},{tagValue: 'național'},{tagValue: 'goluri'},{tagValue: 'cluburi'},{tagValue: 'jucători'},{tagValue: 'premier league'},{tagValue: 'bundesliga'},{tagValue: 'primera division'}]